- content_for 'popups' do
  #add_part_popup.popup{:style => "display: none"}
    #add_part_busy.busy{:style => "display: none"}= image('spinner.gif', :alt => "")
    .popup_title= t('add_meeting')
    - form_for([:admin, PagePart.new], :html => { :onsubmit => "addPart(this); return false" }) do |f|
      %p
        %label{:for => 'part_name_field'}= t('meeting_type')
        = f.select :name, minutes_meeting_type_options_for_select('Other'), {}, :id => 'part_name_field', :maxlength => 100, :style => "width: 15em", :class => "big"
        = hidden_field_tag 'index', 0, :id => 'page_part_index_field'
      .buttons
        = submit_tag t('add_meeting'), :id => 'add_part_button', :class => "button"
        = t('or')
        = link_to_function t('cancel'), "$(this).closePopup()", :class=>"cancel"
